<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="..\static\welcome.css" rel="stylesheet" type="text/css" />
    <title>Welcome</title>
  </head>
  <div class="container">
    <body>
      <h1>Breast Cancer Classifier</h1>
      <h3>Welcome!</h3>
      <div class="button-container">
        <a href="https://reimagined-goggles.onrender.com/get_prediction"
          ><button>Get Prediction</button></a
        >
        <a
          href="https://my.clevelandclinic.org/health/diseases/3986-breast-cancer"
          target="_blank"
          ><button>Learn more</button></a
        >
      </div>
    </body>
  </div>
</html>
